<section class="hero is-medium is-info is-bold is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column">
          <div class="container">
            <h1 class="title">
              Form Validation
            </h1>
            <h2 class="subtitle">
              With Phoenix LiveView
            </h2>
          </div>
        </div>
        <div class="column">
          <div class="box">
            <%= render "form.html", assigns %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
