/* This file is for your main application css. */
@import url('https://fonts.googleapis.com/css?family=Fira+Sans&display=swap');
@import './bulma.css';

body {
  font-family: 'Fira Sans', sans-serif;
}

.mt-20 {
  margin-top: 20px;
}

.meter {
  height: 20px;
  background: #ddd;
  border-radius: 25px;
}

.meter > span {
  display: block;
  height: 20px;
  border-radius: 20px;
  background-color: mediumseagreen;
  overflow: hidden;
  transition: width 0.25s;
}

.header {
  margin-top: 5rem;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.header > h2 {
  color: #5e81ac;
}

.stats > span {
  color: #2e3440;
  display: inline-block;
  padding: 10px;
  border: 1px solid;
  margin-left: 10px;
  margin-bottom: 0;
  border-radius: 3px;
}

.complete {
  background: #a3be8c;
  color: #2e3440;
}

.error {
  background: #bf616a;
  color: #2e3440;
}

.typing-area {
  position: relative;
  font-size: 2rem;
  padding: 4rem;
  background: #434c5e;
  color: #eceff4;
  max-height: 450px;
  overflow-y: scroll;
}

.typing-area > .typing-test-button {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: calc(50% - 25px);
}

.typing-area > span {
  padding: 4px;
  padding-right: 1px;
  color: #fff;
}

.typing-area > span:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.typing-area > span:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.typing-input {
  margin-top: 1rem;
}

.typing-input > form > input[type='text'] {
  background: #fff;
  color: #4c566a;
  border: 2px solid #d8dee9;
  border-radius: 3px;
  padding: 1rem;
  font-size: 2rem;
  width: 100%;
}

.typing-input > form > input[type='text']:focus {
  border: 2px solid #5e81ac;
}

.blur-overlay {
  filter: blur(12px);
  -o-filter: blur(12px);
  -ms-filter: blur(12px);
  -moz-filter: blur(12px);
  -webkit-filter: blur(12px);
}

.kanban {
  color: #fff;
  background: #1b1d20;
  min-height: 100vh;
  overflow-x: scroll;
  white-space: nowrap;
  border-radius: 2px;
  padding: 10px;
  padding: 10px;
}

.k-col {
  border-radius: 3px;
  text-align: center;
  display: inline-table;
  min-width: 250px;
  max-width: 250px;
  height: 100vh;
  background: #242b35;
  margin: 5px;
  white-space: normal;
}

.col-label {
  padding: 20px;
  border-bottom: 1px solid;
  margin: 10px;
}

.inner {
  height: 100%;
}

.k-card {
  text-align: left;
  color: #c4e6ff;
  min-height: 50px;
  margin: 10px;
  padding: 10px;
  border-radius: 2px;
  background: #2f4252;
}

.k-card > .actions {
  margin-top: 20px;
}

.k-create-btn {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.is-xsmall {
  font-size: 0.4rem;
}

.kanban-input {
  background: transparent;
  border: none;
  border-bottom: 1px solid turquoise;
  color: #c4e6ff;
  font-size: 1em;
  width: 100%;
}

.colors {
  background: #111;
  width: 100%;
  height: 100vh;
}

.colors > .bubble {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
